<h3>The following has been updated:</h3>
<dl>
  <dt>Document</dt>
  <dd><%= @id %></dd>
  <dt>Field</dt>
  <dd><%= @field %></dd>
  <dt>Update Type</dt>
  <dd><%= @edittype %></dd>
  <dt>Content Old</dt>
  <dd><%= @replaced %></dd>
  <dt>Content New</dt>
  <dd><%= @content %></dd>
</dl>
</br>
<p>See updated doc: http://10.5.96.214:3000/catalog/<%= @id %>.json</p>
</br>
<a href="document">Go back</a>